*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
}
ul{
    display:flex; 
    gap:20px;
    padding-top:20px;
    padding-left: 20px;

} 
header{
    height: 80px;
    background-color: aquamarine;
}
.shoe{
    height:300px;
    padding-left: 300px;
    background-color: aquamarine;
    display: flex;
}
img{
    height: 300px;
    border-radius: 8px;
}
.text-container{
    padding:20px;
    padding-right: 100px;
} 
button{
    padding:10px;
    border-radius: 8px;
    background-color: rgb(69, 137, 227);
    
}
.back{
    background-color: rgb(127, 255, 251);
    height: 410px;
    display: flex;
    gap:20px;
    padding-left: 280px;
}
.bac{
    height: 200px;
    background-color: rgb(148, 127, 255);
}
.ye{
    padding-top:50px;
    padding-left:50px;
    padding-right: 50px;
} 
#contact{
    text-align: center;
    border : 1px solid black; 
    margin-top:50px;
    margin-left:155px;
    padding-top:50px;
    height:60px;
    width:400px; 
    border-radius: 8px;
    background-color:rgb(127, 234, 255);

}